@charset "utf-8";
/*=========================Reset_start==========================*/
/*样式重置*/
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option,b,s,i,sup,sub{margin: 0; padding: 0;}
/*字体样式*/
html,body{font-family:"微软雅黑","宋体",Arail,Tabhoma;text-align: left;}
/*去掉项目符号*/
ul,ol{list-style: none;}
/*去掉因a链接而出现的边框兼容性问题*/
img{border: 0 none;}
/*去电亮蓝色的边框*/
input,select,textarea{outline:0;}
/**/
textarea{resize:none; overflow: auto;}
/**/
table{border-collapse: collapse; border-spacing: 0;}
/**/
th,strong,var,em{font-weight: normal; font-style: normal;}
/*去掉a链接下划线*/
a{text-decoration: none;}

/*==========================Reset_End===========================*/

 